/* Importing some google fonts */
@import url('https://fonts.googleapis.com/css2?family=Zilla Slab:wght@400;600&family=Cinzel:wght@400;600&family=Lexend Deca:wght@400;700&family=Google Sans Code:wght@400;700&display=swap');

:root{
  --max-w: 1200px;
  --accent-col: #4A4E69;
  --header-bg-col: #22223B;
  --header-text-col: black;
  --h2-col: black;
  --bg-col: #f2f3ff;
  --dark-text-col: black;
  --light-text-col: #f2f3f4;

  
  --gap: 18px;
}
*{box-sizing:border-box}
body{
  font-family: 'Lexend Deca', sans-serif;
  margin:10px;
  line-height:1.6;
  background: var(--bg-col);
}
a {
  color: #1e1e5d; /* example: Google blue */
  text-decoration: none; /* optional: remove underline */
}
a:hover {
  color: #2a2a87; /* colour when you hover over it */
  text-decoration: underline; /* optional: show underline on hover */
}
h2 {
  font-family: 'Lexend Deca', serif;
  font-weight: 600;
  font-size: 20pt;
  color: var(--h2-col);
}
p {
  font-size: 17pt;
  color: var(--dark-text-col);
}
.container{
  max-width:var(--max-w);
  margin:0 auto;
  padding:20px;
}
.intro-paras{
  max-width: 1200px;
  margin:0 auto;
  padding: 50px 20px 20px 20px;
}
.about-paras{
  max-width:var(--max-w);
  margin:0 auto;
  padding: 15px 20px 20px 20px;
}
.contact-info-paras{
  max-width:var(--max-w);
  margin:0 auto;
  padding: 50px 20px 20px 20px;
}
.links-paras{
  max-width:var(--max-w);
  margin:0 auto;
  padding:20px;
}
.research-paras{
  max-width:var(--max-w);
  margin:0 auto;
  padding: 50px 20px 20px 20px;
}
.research-paras p{
  font-size: 15pt;
}
/* #game-area {
  display: flex;
  justify-content: center; 
  align-items: center;  
  max-width:var(--max-w);
  margin:0 auto;
  padding:20px;
} */
ul {
  font-size: 14pt;
}
#current-email{
  font-size: 20pt;
}
.code-style{
  font-family: 'Google Sans Code', monospace;
}
.site-header{
  background-color: var(--header-bg-col);
  border:3px outset var(--accent-col);
  border-radius: 10px;
  padding:5px 0;
}
.pic-nav {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 50px; 
  padding: 20px 0;
}
.logo{color:var(--light-text-col); margin:0; display:inline-block; font-size:20pt;
  font-family: 'Zilla Slab', serif;
  font-weight: 600;
}
.site-nav{display:flex; gap:20px; align-items:center; float:right}
.site-nav a{
  text-decoration:none;
  color: var(--light-text-col);
  padding:8px 30px;
  border-radius:6px;
  font-size:13pt;
  font-family: 'Zilla Slab', serif;
  font-weight: 400;
}
.site-nav a.active{
  color: var(--light-text-col);
  background: var(--accent-col);
  border:3px outset var(--accent-col);
  font-weight:600;
}

/* Image carousel style */
.image-carousel-container {
  padding: 15px 0 0 0;
  max-width: 1200px;
  position: relative;
  margin: auto;
}
.image-banner {
  display: none; /* by default, hide the images */
}
.image-banner img {
  display: block;
  margin: 0 auto;   /* centers horizontally */
  max-width: 100%;  /* scales with container */
  height: auto;     /* keeps proportions */
}
.next, .previous {
  cursor: pointer;
  background-color: #00000034;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next{
  right: 0px;
  border-radius: 3px 0 0 3px;
}
.previous:hover, .next:hover {
  background-color: #10105464;
}
.caption {
  color: #ffffff;
  background-color: #0000005b;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}
/* .which-image {
  color: #000000;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
} */
.dots {
  text-align: center;
  position: absolute;
  top: 25px;
  width: 100%;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #606060b5;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dot.active,
.dot:hover {
  background-color: #000000a3;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
